PingDB_HOST=postgres
PingDB_PORT=5432
PingDB_USER=pguser
PingDB_PASSWORD=pgpassword
PingDB_DATABASE=pingdb
RETRY_TIME_DB=10
RETRY_ATTEMPTS_DB=5
HTTP_PORT=8080
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rmuser
RABBITMQ_PASSWORD=rmpassword
RETRY_TIME_RABBITMQ=10
RETRY_ATTEMPTS_RABBITMQ=5
RABBITMQ_QUEUE_ADD_SERVICE=add_service
RABBITMQ_QUEUE_ADD_PING=add_ping