RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rmuser
RABBITMQ_PASSWORD=rmpassword
RETRY_TIME_RABBITMQ=10
RETRY_ATTEMPTS_RABBITMQ=5
RABBITMQ_QUEUE_ADD_SERVICE=add_service
RABBITMQ_QUEUE_ADD_PING=add_ping
PING_PACKAGES_CNT = 3
PING_TIME = 5